<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="actors content">
            <form action="/albums" method="POST">
                <b>Actors: </b></br> 
            <% if (theAlbums.length > 0) { %>
                <% theAlbums.forEach(album => { %>
                    <b><%= album.album_name %> <</b>
                    <a href="/album/<%=album._id%>/edit?Name=<%=album.album_name%>">edit</a>
                    
                    <a href="/artists/<%=artist._id%>/delete?Name=<%=actor.actor_name%>">edit</a>
                    <a href="/artists/<%=artist._id%>/replace?Name=<%=actor.actor_name%>">edit</a>

                    </br>
                    <% }) %>
            <% } %>
            </br><label>Add Artist:</label></br>
            <label>Name:
                <input type="text" id="artistName" name="Name" value="<%= locals.Name %>" required>
            </label>
           
            </br>
            <button>POST</button>
        </form>
        </div>
    </body>
    <%- include('./partials/foot.ejs') %>
</html>