<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="create content">
            <form action="/albums/<%= locals.theId %>?_method=PUT" method="POST">
                <label>Replace Album Names:</br>
                    <b>name</b>
                    <input type="text" name="album_name" value="<%= locals.albumName %>" >
                    </br>
                 
                
              
                <button>PUT</button>
            </form>
        </div>
    </body>
    <%- include('./partials/foot.ejs') %>
</html>