<html lang="en">
    <%- include('./partials/head.ejs', {cssPath: `/styles.css`}) %>

    <body>
  
        <%- include('./partials/nav.ejs') %>

        <div class="albums-content">
            <form action="/albums" method="POST">
                <h2>Albums: </h2></br> 
               
            <% if (theAlbums.length > 0) { %>
                <% theAlbums.forEach(album => { %>
                    <div class = "box">
                    <b><%= album.album_name %> </b></br>
                    <b><%= album.artist_name %></b></br>
                    <b><%= album.album_year %>   </b></br>

                    
                   

                       
                    <a href="/album/<%=album._id%>/edit?Name=<%=album.album_name%>">edit</a>

                    <a href="/albums/<%=album._id%>/delete?Name=<%=album.album_name%>">Delete</a>
                    <a href="/albums/<%=album._id%>/replace?Name=<%=album.album_name%>">Replace name</a>
              
                    </br>
                </div>
            </div>
           
                    <% }) %>
            <% } %>
            </br><label>Add Album:</label></br>
            <label>Name:
                <input type="text" id="albumName" name="album_name" value="<%= locals.albumName %>" >
            </label>
           
            <label>Artist:
                <input type="text" id="albumArtist" name="artist_name" value="<%= locals.albumArtist %>" >
            </label>
            <label>Year:
                <input type="text" id="albumYear" name="album_year" value="<%= locals.album_Year %>" >
            </label>
            <label>Publisher:
                <input type="text" id="publisher" name="publisher_id" value="<%= locals.publisher_id %>" >
            </label>
           
            </br>
            <button>POST</button>
        </form>
        </div>
    </body>
    <%- include('./partials/foot.ejs') %>
</html>