<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="create content">
            <form action="/artists/<%= locals.theId %>?_method=PATCH" method="POST">
                <label>Edit Artist_ID and Location:</br>
                    <input type="text" name="artist_id" value="<%= locals.ID %>" required>
                    <input type="text" name="artist_location" value="<%= locals.Location %>" required>
                </label></br>
                <button>PATCH</button>
            </form>
        </div>
    </body>
    <%- include('./partials/foot.ejs') %>
</html>
