<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="create content">
            <form action="/albums/<%= locals.theId %>?_method=PATCH" method="POST">
                <label>Edit Albums Name:</br>
                    <input type="text" name="album_name" value="<%= locals.Name %>" required>
                    <input type="text" name="artist_name" value="<%= locals.Artist %>" required>
                    <input type="text" year="album_year" value="<%= locals.albumYear %>" required>
                </label></br>
                <button>PATCH</button>
            </form>
        </div>
    </body>
    <%- include('./partials/foot.ejs') %>
</html>
