<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
     
        <%- include('./partials/nav.ejs') %>

        <div class="artists content">
            <form action="/artists" method="POST">
              
                <div class ="section">
            <b>Add an Artist</b>
            <label>Name:
                <input type="text" id="artistName" name="artist_name" value="<%= theArtists[0].Name %>" required>
            </label>
            <label>Birthday:
                <input type="text" id="artistBirthday" name="artist_birthday" value="<%= theArtists[1].Birthday %>" required>
            </label>
            <label>Location:
                <input type="text" id="artistLocation" name="artist_location" value="<%= theArtists[2].Location %>" required>
            </label>
            <label>Label:
                <input type="text" id="artistLabel" name="label_id" value="<%= locals.Label %>" required>
            </label>
            <label>ID:
                <input type="text" id="artistID" name="artist_id" value="<%= locals.ID %>" required>
            </label>
           
            <button>POST</button>
        </form>
        </div>
       
       
        <h2>Artists:</h2> </br></br> 
        <div class="content-container">
           

            <% if (theArtists.length > 0) { %>
                <% theArtists.forEach(artist => { %>
                   
                    <div class = "box">
                    <b><%= artist.artist_name %></b>
                   <b><%= artist.artist_birthday %></b>
                   <b><%= artist.artist_location %></b>
                  
                        
                    
                    

          

                    </br>
                </div>  
                    <% }) %>
            <% } %>
       
            
        </div>
 
    </body>
    <div class = "footer">
    <%- include('./partials/foot.ejs') %>
    </div>
</html>